* {
    box-sizing: border-box;
}


body {
    font-family: "Science Gothic", serif;
    margin: 0;
}

/*header*/
header {
    background-color: #c4e7e5;
    align-items: center;
    gap: 15px;
    padding: 1rem 10px;
    display: flex;
  
 
}


header span {
    color: #19244e;
    font-size: 1.6rem;
    font-weight: 700;
}

/*navigation*/


/* small screen nav */
@media only screen and (max-width: 800px) {
    nav ul {
        margin: 0;
        padding: 0;
    }
    nav a {
        
        display: block;
        text-align: center;
        padding: .8rem;
        color: #253c96;
        text-decoration: none;
        border-bottom: solid 1px #eee;
        font-weight: 700;
        text-transform: uppercase;

    }
    nav .active a {
        background-color: #f59a1e;
        color : #253c96;
        background-image: linear-gradient(to bottom, #f59a1e, #f98900);
    }
}



/* end small screens */

/* large screen nav */
@media only screen and (min-width: 801px) {
    nav {
    background-color: #f36b2e;
    height: 48px;
    
}
nav ul{
    margin: 0;
    padding: 0 10px;
    list-style-type: none;
    display: flex;

}
nav a {
    display: block;
    padding: .7rem 1rem;
    text-decoration: none;
    font-size: 1.1rem;
    color: #19244e;
    font-weight: 700;
}

nav li.active a {
    background-color: #f59a1e;
    color: #253c96;

}

nav li a:hover {
    color: white;
}


}

/* end large screens */

/*main*/
main {
    padding: 1rem 10px;

}

main h1 {
    color: #253c96;

}
main h2 {
    color: #f59a1e;
    margin-bottom: .2rem;
}
main p {
    margin: 0;
    color: #2b2b2b;
}
main ol {
    padding: .5rem 30px;
    background-color: #f59a1e;

}
main dl dt {
    color: #f36b2e;
    font-weight: 700;
    margin-top: 1rem;
}
main dl dd {
   color : #253c96;
   font-size: .9rem;
   margin-left: 20px;
}
main ul {
    list-style-type: square;
    padding: .5rem 30px;
    background-color: #c4e7e5;
}
main ul li {
    line-height: 125%;
    margin-bottom: .5rem;
    font-size: .9rem;
}
main strong {
    font-weight: 700;
    color: black;
}
main em {
    font-weight: 300;
}
main address {
    font-style: normal;
    background-color: #f36b2e;
    padding: .5rem;
    border-radius: 8px;
    border: 2px solid #253c96;
    width: 350px;
}
main a {
    color: #253c96;
}
main a:hover {
    color: #f36b2e;
}

.hero {
    width: 100%;
    height: auto;
}
/*main image*/
 figure.wrapped {
    margin: 0 0 0 10px;
    width: 30%;
    float: right;
}

figure.wrapped img {
    width: 100%;
    height: auto;
}

figure.wrapped figcaption {
    text-align: center;
    font-size: .75rem;
}
/* gallery */

div.gallery{
    display: flex;
    flex-wrap: wrap;
    gap: 20px 10px;
    
}
div.gallery figure {
    margin: 0;
}
div.gallery figcaption {
    text-align: center;
    font-size: .8rem;
    color: #253c96;
   
}
.gallery img{
     border-radius: 5px;
}

.gallery img:hover {
    box-shadow: 0px 0px 10px rgba(6, 16, 49, 0.5); 
}
/* form */
.myForm fieldset{
    border: 1px solid #f36b2e;
    border-radius: 3px;
    margin-bottom: 1rem;
}
.myForm legend {
    color: #f36b2e;
    font-size: .8rem;
}
.myForm label {
    color: #253c96;
    margin: 0.5rem 0 0.1rem 0.5rem; 
}
.myForm label, .myForm select, .myForm [type="text"], .myForm [type="email"], .myForm [type="tel"], .myForm textarea {
    display: block;
}

.myForm [type="text"], .myForm [type="email"], .myForm [type="tel"], .myForm textarea, .myForm select {
   border: solid 1px #f59a1e;
   color: #f59a1e;
   background-color: #ffffff;
   padding: .3rem;
   width: 250px;
   border-radius: .3rem;
   font-family: "Science Gothic", serif;
    font-weight: 300;
    margin-left: 0.5rem;
}
.myForm textarea {
    height: 6rem;
    color: #f59a1e;
}

.myForm :required {
    background-color: rgba(156, 135, 51, 0.1);
}

.myForm [type="submit"] {
    background-color: #f36b2e;
    border: none;
    padding: 1rem 2rem;
    border-radius: 7px;
    color: rgb(241, 241, 241);
    margin: 1rem 0 0 0.5rem;
    font-family: "Science Gothic", serif;
    font-weight: 500;
   
}



/*footer*/
footer {
    background-color: #f59a1e;
    text-align: center;
    padding: 1rem 0;
    font-size: .8rem;
    color: #333;
    letter-spacing: 3px;
    clear:both;
}
footer p {
    margin: 0;
}

header, nav, main, footer {
    max-width: 64rem;
    margin: 0 auto;
}
